<div class="PC container indexBackground">
    <div class="marginTop10P head">
        <span class="index">
            ระบบการทดสอบมาตรฐานฝีมือแรงงานแห่งชาติ (ภาคความรู้)<br>
            กรมพัฒนาฝีมือแรงงาน
        </span>
        <a style ="z-index: 2;font-family: 'Prompt', sans-serif;font-weight: 300;"class="width150PX fontSize25 marginTop15PX indexButton blueFont" mat-raised-button [routerLink]="['/verify']">ยืนยันตัวตน</a><br>
        <img src="assets/windows.png" alt="">
    </div>
</div>
<div class="mobile">
    <div style="width: 90%;margin-left: auto;margin-right: auto;">
        <div class="container profileContainerSize indexBackground maxHeight850PX">
            <div style="display: block;width: 100%;">
                <div class="textCenter head" style="margin-left: auto;margin-right: auto;margin-top: 150px;">
                    <div class="index"  style="width: 85%;
                    margin-left: auto;
                    margin-right: auto;">
                        <span>ระบบการทดสอบมาตรฐานฝีมือแรงงานแห่งชาติ (ภาคความรู้)<br>
                            กรมพัฒนาฝีมือแรงงาน</span>
                         <!-- <br> -->
                    </div>
                    <div>
                        <img src="assets/windows.png" width="460" height="345" alt="">
                    </div>
                    <div>
                        <a style ="font-family: 'Prompt', sans-serif;font-weight: 300;"class="width150PX fontSize25 marginTop15PX indexButton blueFont" mat-raised-button [routerLink]="['/verify']">ยืนยันตัวตน</a>
                    </div>
                </div>
                
            </div>
            
        </div>
       
    </div>
    
</div>

