body { 
    background-color: #d8e1e0;
    margin: 0; 
    // font-family: Roboto, "Helvetica Neue", sans-serif,''; 
    font-family: 'Prompt', sans-serif;
}
.KanitFont div,
.KanitFont span, 
.KanitFont h3, 
.KanitFont h1, 
.KanitFont p{
    font-family:  'Prompt', sans-serif;
}


@media only screen and (max-width: 1141px){
    .PC{
        display:none
    }
    .container{
        display: block;
    }
    .imgMargin{
        margin-top: 20px;
    }
    .maxHeight450PX{
        max-height: 500px !important;
    }

}
@media only screen and (min-width: 1140px){
    .mobile{
        display:none
    }
    

}