@media only screen and (max-width: 1141px){
    .PC{
        display:none
    }
    .profileTopbar img {
        margin-left: -20px;
    }
}
@media only screen and (min-width: 1140px){
    .mobile{
        display:none
    }

}